.yellowButton {
  background-color: #e2d234;
  box-shadow: 0px 4.16667px 10.4167px rgba(0, 0, 0, 0.2);
}

.myGreen {
  color: #11645b;
}

.myInput {
  color: #363a39 !important;
}

.acakaut {
  font-family: "acakadut";
}

/* text password harus berupa huruf kecil */
.textNormal {
  font-size: 1rem;
  line-height: 1.5rem;
}

@media only screen and (max-width: 640px) {
  .textNormal {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}
